@import url("https://use.typekit.net/rji6kbp.css");
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;1,300&display=swap');

$averia: 'Averia Serif Libre', cursive;
$synthese: synthese, sans-serif;