.site-header {
	background: $light-blue;
	color: $white;

	a {
		color: $white;
	}

    @import 'site-nav'; 

	@import 'nameplate'; 

	@import 'hamburger'; 

	@import 'mobile-nav'; 
}

@import 'status-view';

body.page-template-location .page-location,
body.page-template-gallery .page-gallery,
body.page-template-menu .page-dine-in-menus {
    text-decoration: underline;
}

.social-links {
	a {
		display: block;
		border-radius: 50%;

		img {
			width: 100%;
		}
	}
}