.mobile-nav {
    border-bottom: 1px solid $white;

	ul {
		a {
            font-size: 1.25rem;
            text-transform: lowercase;
            letter-spacing: 0.025em;
            font-weight: bold;
            padding: 0.75rem 0.5rem;

            &:hover {
                text-decoration: underline;
            }
		}
	}
}