.nameplate {
    @include desktop-small {
        padding-bottom: 4rem;
    }

	.nameplate-wrapper {
        @include desktop-small {
            border-color: $white;
            justify-content: space-between;
            padding: 4rem 0 2rem 0;
        }
	}

    .logo {
        a {
            display: block;
        }

        .image {
            flex: 1;

            @include tablet-small {
                flex: none;
            }

            @include desktop-small {
                display: flex;
                justify-content: center;
            }

            img {
                width: 100%;
                max-width: 225px;

                @include desktop-small {
                    max-width: 100%;
                    width: 350px;
                }

                @include desktop-medium {
                    max-width: 100%;
                    width: 500px;
                }
            }
        }
    }

	.info{
        align-self: start;
        padding-left: 1rem;
        padding-right: 1rem;

        @include desktop-small {
            align-self: center;
            padding-left: 0;
            padding-right: 0;
        }

		h3 {
            font-size: clamp(1.125rem, 1.5vw, 1.25rem);
            letter-spacing: 0.25em;
            color: $cream;
		}

		p {

            font-size: clamp(0.875rem, 1.25vw, 1rem);
            font-style: normal;
            line-height: 1.7em;
            color: $cream;
        }
	}
}