.site-nav {
    li:after {
        @include desktop-medium {
            padding: 0 1rem;
        }
    }

    a {
        font-size: clamp(1rem, 1vw, 1.125rem);
        font-weight: normal;
        color: $cream;
        text-transform: lowercase;
        letter-spacing: 0.02em;

        &:hover {
            text-decoration: underline;
        }
    }
}