.site-header.status-view {
    .status {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .logo {
        width: 100%;

        @include desktop-small {
            width: auto;
        }

        .image {
            width: 80%;

            @include desktop-small {
                width: 100%;

            }
        
            img {
                margin: 0;					
                transform: none;
                max-width: 200px;

                @include tablet {
                    margin: 0;
                    max-width: 300px;
                }

                @include desktop-medium {
                    max-width: 300px;
                }
            }		
        }	
    }

    .message {
        width: 100%;
        flex: 1;
        text-align: center;
        padding-top: 25px;

        @include desktop-small {
            padding-left: 50px;
            text-align: left;
            width: auto;
            padding-top: 0;
        }

        .headline {
            padding-bottom: 10px;

            h2 {
                font-weight: 700;
                font-size: 1.75rem;
                text-transform: uppercase;
                letter-spacing: 0.05em;

                @include desktop-medium {
                    font-size: 2rem;
                }
            }
        }

        .copy {
            p {
                font-size: 1.125rem;
                font-style: normal;
                line-height: 1.75em;
                text-transform: none;

                & + p {
                    padding-top: 10px;
                }

                @include desktop-medium {
                    font-size: 1.25rem;
                }
            }
        }
    }
}