body,
button,
input,
select,
optgroup,
textarea {
	color: $slate;
	font-family: $synthese;
}


::-moz-selection {
	background: $dark-blue;
	color: $white;
	text-shadow: none;
}

::selection {
	background: $dark-blue;
	color: $white;
	text-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
	font-family: $synthese;
}

a {
	color: $light-blue;
	transition: all 0.2s ease-in-out;
}

.page-header {
	padding-top: 3rem;
	
	h1 {
		font-size: clamp(1.75rem, 3.5vw, 2.5rem);
		color: $light-blue;
		font-weight: normal;
		font-family: $averia;
		font-style: italic;
	}
}