body.page-template-home {
    .site-header .nameplate .info {
        display: block;
    }
	.hero-photo {
		@include aspect-ratio(16, 9);
        @include cover-fill-image;

		@include tablet-small {
			@include aspect-ratio(1440, 490);
			max-height: 600px;
		}
	}
    
    .main {
        display: grid;
        padding: 2rem;
        gap: 2rem;
        max-width: 1200px;
        margin: 0 auto;
        align-items: start;

        @include tablet-small {
            grid-template-columns: repeat(12, 1fr);
        }

        @include desktop-small {
            padding: 4rem 0;
        }

        .description {
            grid-column: 1 / -1;
            @include desktop-small {
                grid-column: 2 / span 4;
                grid-row: 1;
                padding-right: 2rem;
            }

            h3 {
                color: $light-blue;
                font-size: clamp(1.5rem, 2.5vw, 2rem);
                font-weight: normal;
                font-family: $averia;
                font-style: italic;
                padding-bottom: 1rem;
            }

            p {
                font-size: clamp(1rem, 1.2vw, 1.25rem);
                line-height: 1.75em;
                font-family: $averia;
                

                strong {
                    font-weight: normal;
                    font-style: normal;
                    text-transform: uppercase;
                    font-size: 0.875em;
                }
            }
        }
        
        .photos {
            grid-column: 1 / -1;
            display: grid;
            gap: 1rem;

            @include tablet-small {
                grid-template-areas:
                    'top top'
                    'left right';
            }

            @include desktop-small {
                grid-column: 6 / span 8;
                grid-row: 1;
            }

            .top-photo {
                grid-area: top;
            }

            .bottom-left-photo {
                grid-area: left;
            }

            .bottom-right-photo {
                grid-area: right;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
