#covid-modal {
	.overlay {
		&-wrapper {
			background: $cream;
			border: 1px solid $dark-blue;
		}
	}

	.close {
		color: $light-blue;
	}

	.headline {
		color: $light-blue;
		border-bottom: 3px dotted $light-blue;
		margin-bottom: 3rem;

		h2 {
			font-family: $averia;
			font-style: italic;
			font-size: clamp(1.5rem, 3vw, 2.25rem);
			letter-spacing: 0.05em;
		}
	}

	.content {
		h3 {
			color: $light-blue;
			font-size: clamp(0.875rem, 1vw, 1rem);
			letter-spacing: 0.05em;
			padding-bottom: 0.5rem;
		}

		p {
			color: $light-blue;

			a {
				color: $light-blue;
				text-decoration: underline;
			}
		}
	}
}