.item {
    color: $light-blue;

    &.special {
        text-align: center;
        padding: 1.5rem;
        color: $cream;

        .title {
            h4 {
                text-transform: none;
            }
        }
    }
    
    .title {
        h4 {
            letter-spacing: 0.02em;
            font-weight: bold;
            line-height: 1.25em;
            font-size: clamp(1.125rem, 1.4vw, 1.25rem);

            .price {
                &:before {
                    content: '·';
                    padding-left: 0.25rem;
                    padding-right: 0.5rem;
                }
            }
        }

    }
    
    .details {
        p {
            line-height: 1.5em;
            font-size: clamp(0.875rem, 1.2vw, 1.125rem);

            span {      
                &.note,
                &.options {
                    font-style: italic;
                }
            }
        }
    }
}

.notes {
    p {
        font-size: clamp(0.875rem, 1.2vw, 1.25rem);
        font-style: italic;
        font-family: $averia;
    }
}

.specials {
    
    .item {
        &.special {
            background: none;
            color: $light-blue;
        }
        
        & + .item {
            padding-top: 2rem;
        }

        .title {
            h4 {
                text-transform: none;
            }
        }

    }    
}


