.menu-section {
    &.columns-two {
        @include tablet {
            .items {
                column-gap: 6rem;
            }
        }
    }

    &.columns-one {
        .section-header {
            text-align: center;
            
            h3 {
                display: inline-block;
            }
        }

    }

    &.specials {
        .section-header {
            display: none;
        }

        @include desktop-small {
            grid-column: 3 / span 10;
        }

        @include desktop-medium {
            grid-column: 4 / span 8;

        }

        .items {
            padding: 3rem 3rem 1rem 3rem;

            @include desktop-small {
                padding: 2rem 4rem 2rem 4rem;
            }

            .item {
                @include desktop-small {
                    margin: 0 auto;
                    max-width: 30rem;
                }
            }

        }

        .image {
            @include desktop-small {
                padding-bottom: 0;

                img {
                    position: absolute;
                    top: 3rem;
                    left: -6rem;
                    z-index: 10;
                }
            }
        }
    }
}