nav.menu-subnav {
    padding: 3rem 0;

    @include desktop-small {
        padding-bottom: 6rem;
    }

    a {
        font-size: clamp(1rem, 1.5vw, 1.25rem);
        color: $light-blue;
        letter-spacing: 0.15em;
        font-weight: bold;
        text-transform: uppercase;
        padding-bottom: 0.25rem;
        border-bottom: 3px solid transparent;

        &.active,
        &:hover {
            border-bottom: 3px solid $light-blue;
        }
    }
}