.section-header {
    margin-bottom: 2rem;

    h3 {
		font-size: clamp(1.75rem, 3.5vw, 2.5rem);
		color: $light-blue;
		font-weight: normal;
		font-family: $averia;
		font-style: italic;
        padding-bottom: 0.5rem;
        border-bottom: 4px dotted;
        text-transform: capitalize;
    }
}

.notes {
    p {
        color: $light-blue;
    }
}