.theme-cream {

    .specials {
        border: 4px dotted $light-blue;
    }

    .special {
        background: $light-blue;
    }
}


.theme-blue {
    background: $light-blue;
    border-top: 2px solid $cream;

    .item {
        color: $cream;
    }

    .specials {
        border: 4px dotted $cream;
        .item {
            color: $cream;
        }
    }

    .section-header {        
        h3 {
            color: $cream;
            letter-spacing: 0.05em;
            border-bottom: 4px dotted $cream;
        }
    }

    .special {
        background: $cream;
        color: $light-blue;
    }


    nav.menu-subnav {    
        a {    
            color: $cream;

            &.active,
            &:hover {
                color: $cream;
                border-color: $cream;
            }
        }
    }
}

